.keyword {
    background: #e0ffb7;
    position: relative;
    display: inline-block;
    &:hover{
        cursor: pointer;
    }
}

.synonyms{
    margin: 0;
    padding: 0;
    background: #e0ffb7;
    position: absolute;
    left: 0;
    top: 1rem;
    min-width: 100%;
    display: inline-block;

    li{
        list-style: none;
    }
}

.normalizedTrend{
    padding-left: 2rem;
}


