.keyword {
    background: #fee8c1;
    position: relative;
    display: inline-block;
    &:hover{
        cursor: pointer;
    }
}

.synonyms{
    margin: 0;
    padding: .5rem .5rem;
    background: #fff;
    position: absolute;
    left: 0;
    top: 1rem;
    min-width: 100%;
    display: inline-block;
    box-shadow: 4px 4px 34px -6px rgb(194, 194, 194);

    li{
        list-style: none;
        padding: .2rem 5rem .2rem 0.5rem;
    }
    li + li{
        border-top: 1px solid #d6d6d6;
    }
    li:hover{
        background: #fee8c1;
    }
}
